<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
 
    <title>{{ page_title | escape }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <style>
      {%- render 'css-critical' -%}
      {%- render 'css-variables' -%}
    </style>
    
    {{ content_for_header }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>
  <body>
    {%- section 'header' -%}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {%- section 'footer' -%}

    {%- render 'js-variables' -%}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </body>
</html>